@font-face {
  font-family: "Netflix Sans";
  src: url("/src/assets//fonts/Netflix-Sans-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("/src/assets/fonts/Netflix-Sans-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Netflix Sans";
  src: url("/src/assets/fonts/Netflix-Sans-Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "De Bambeet";
  src: url("/src/assets/fonts/De Bambeet.otf");
  /* font-weight: 300;
  font-style: normal; */
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("/images/spa-background-4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  background-color: #f8c1c1;
  overflow-x: hidden;
}
